Flask
Flask-PyMongo
Flask-Mail
Flask-JWT-Extended
python-dotenv
bcrypt
itsdangerous
cloudinary
requests
Werkzeug
tensorflow==2.18.0
keras
opencv-python
pillow
pandas
numpy
matplotlib
flask-cors
scikit-learn
scipy
imutils
openpyxl


